<link rel="stylesheet" href="{{ asset('bundles/job/css/select2.css')}}">
<style type="text/css">
    .filt:hover{
        color: #999999;
    }
    .irs-bar{
        background: #505f6b none repeat scroll 0 0 !important;
    }
</style>
{{form_start(form)}}
<div class="second-search-result-inner">
    <span class="labeling">Search a job</span>
    <div class="row">
        <div class="col-xss-12 col-xs-6 col-sm-6 col-md-5">
            <div class="form-group form-lg">
                {{form_widget(form.jobTitle)}}
            </div>
        </div>
        <div class="col-xss-12 col-xs-6 col-sm-6 col-md-5">
            <div class="form-group form-lg">
                {{form_widget(form.company)}}
            </div>
        </div>
        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">
            <div class="col-sm-12 col-md-5">
                <div class="text-right hidden-sm hidden-xs">
                    <a class="btn btn-toggle btn-refine collapsed filt" data-toggle="collapse" data-target="#refine-result" style="color:#fff">Click here for More</a>
                </div>
                <div class="clear"></div>
                <div class="text-right visible-sm visible-xs">
                    <a class="btn btn-toggle btn-refine collapsed filt" data-toggle="collapse" data-target="#refine-result"  style="color:#fff">Click here for More</a>
                </div>
            </div>
        </div>
    </div>
    <div id="refine-result" class="collapse">
        <div class="collapse-inner clearfix">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="row gap-10">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Category:</label>
                                {{form_widget(form.category)}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Sub-Category:</label>
                                <div id="sub-category">
                                    {{form_widget(form.subCategory)}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Skills:</label>
                                <select class="js-skills-tags form-control select2-hidden-accessible" multiple="multiple" tabindex="-1" aria-hidden="true"></select>
                                {{form_widget(form.skillsRequired)}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Salary:</label>
                                <div class="sidebar-module-inner">
                                    {{form_widget(form.salaryRange)}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Experience:</label>
                                <div class="sidebar-module-inner">
                                    {{form_widget(form.experienceRange)}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <button type="submit" class="col-md-2 btn btn-default" style="background-color: #505f6b; float:right;margin-right: -31px;">Search</button>
</div>
{{ form_end(form) }}
<script type="text/javascript" src="{{ asset('bundles/job/js/jquery-1.11.3.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/job/js/select2.js')}}"></script>
<script type="text/javascript">
    var $tags = $(".js-skills-tags");
    $.fn.select2.defaults.set("width", "100%");
    $tags.select2({
        tags: true
    });

    var $category = $('#{{form.category.vars.id}}');
    // When sport gets selected ...
    $category.change(function () {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected sport value.
        var data = {};
        data[$category.attr('name')] = $category.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function (html) {
                $("#sub-category").html($(html).find('#{{form.subCategory.vars.id}}'));
                // Replace current position field ...
    {#$('#{{form.subCategory.vars.id}}').replaceWith(
            // ... with the returned one from the AJAX response.
            $(html).find('#{{form.subCategory.vars.id}}')
            );#}
                            // Position field now displays the appropriate positions.
                        }
                    });
                });
                $(document).ready(function () {
                    $tags.change(function () {
                        $("#{{form.skillsRequired.vars.id}}").val($(this).val());
                    });
                });
</script>

