{% extends 'JobBundle:MainAdmin:index.html.twig' %}
{% block mainadminstylesheets %}
    {{ parent() }}
    <style type="text/css">

    </style>
{% endblock %}
{%block mainadminbody%}
    {{ form_start(form,{'attr':{'id':'registration-form'} }) }}
    <div class="modal-body" id="modal-body">               
        <div class="row gap-20">
            <div class="col-sm-12 col-md-12">
                <div class="form-group"> 
                    <label>{{ form_label(form.name) }}</label>
                    {{ form_widget(form.name,{'attr':{'id':'name'} }) }}
                    <span id="name-error"></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group"> 
                    <label>{{ form_label(form.username) }}</label>
                    {{ form_widget(form.username,{'attr':{'id':'username'} }) }}
                    <span id="username-error"></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group"> 
                    <label>{{ form_label(form.email) }}</label>
                    {{ form_widget(form.email,{'attr':{'id':'email'} }) }}
                    <span id="email-error"></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group"> 
                    <label>{{ form_label(form.mobile) }}</label>
                    {{ form_widget(form.mobile,{'attr':{'id':'mobile'} }) }}
                    <span id="mobile-error"></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group"> 
                    <label>{{ form_row(form.password) }}</label>
                    <span id="password-error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button type="submit"  class="btn btn-primary" value="Register" id="register-user-btn">Save and Proceed to Add Details</button>
    </div>
    {{ form_end(form) }}
{%endblock%}

{% block mainadminjavascript %}
    {{ parent() }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        {% for key, flash in app.session.flashbag.all() %}
            {% for message in flash %}
                    var message = "{{message}}";
                    swal(message);
            {% endfor %}
        {% endfor %}

                $("body").on("click", "#register-user-btn", function (e) {
                    e.preventDefault();
                    var userExist = false;
                    var username = $('#{{form.username.vars.id}}').val();
                    var $verifyUserpath = "{{path('new_user_username_check',{'name':'__name__'}) }}";
                    $verifyUserpath = $verifyUserpath.replace('__name__', username);
                    $.ajax({
                        type: "POST",
                        url: $verifyUserpath,
                        context: this,
                        beforeSend: function () {
                            $(this).after();
                        },
                        success: function ($data) {
                            alert($data);
                            if ($data === "true") {
                                userExist = true;
                                if (validateForm(userExist)) {
                                    $("#registration-form").submit();
                                }
                            } else {
                                userExist = false;
                                if (validateForm(userExist)) {
                                    $("#registration-form").submit();
                                }
                            }
                        },
                        complete: function () {
                            $(this).next(".loading-img").remove();
                        }
                    });
                });
            });

            function validateForm(userExist) {
                var retrn = 0;

                var nameReg = /^[A-Za-z]+$/;
                var numberReg = /^[0-9]+$/;
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

                var names = $('#{{form.name.vars.id}}').val();
                var username = $('#{{form.username.vars.id}}').val();
                var email = $('#{{form.email.vars.id}}').val();
                var mobile = $('#{{form.mobile.vars.id}}').val();
                var password1 = $('#akjnbundle_user_password_first').val();
                var password2 = $('#akjnbundle_user_password_second').val();

                var inputVal = new Array(names, username, email, mobile, password1, password2);
                var inputMessage = new Array("name", "username", "email address", "mobile number", "passwords", "passwords");



                $('.error').hide();
                if (inputVal[0] === "") {
                    $('#name-error').html('<span class="error"> Please enter your ' + inputMessage[0] + '</span>');
                } else if (userExist === false) {
                    alert(userExist);
                    $('#username-error').html('<span class="error"> Username already exists</span>');
                } else {
                    retrn = retrn + 1;
                }

                if (inputVal[1] === "") {
                    $('#username-error').html('<span class="error"> Please enter your ' + inputMessage[1] + '</span>');
                } else {
                    retrn = retrn + 1;
                }

                if (inputVal[2] === "") {
                    $('#email-error').html('<span class="error"> Please enter your ' + inputMessage[2] + '</span>');
                } else if (!emailReg.test(email)) {
                    $('#email-error').html('<span class="error"> Please enter a valid email address</span>');
                } else {
                    retrn = retrn + 1;
                }

                if (inputVal[3] === "") {
                    $('#mobile-error').after('<span class="error"> Please enter your ' + inputMessage[3] + '</span>');
                } else if (!numberReg.test(mobile)) {
                    $('#mobile-error').html('<span class="error"> Numbers only.. dont use +91</span>');
                } else if (inputVal[3].length !== 10) {
                    $('#mobile-error').html('<span class="error">please enter 10 digit mobile number without +91</span>');
                } else {
                    retrn = retrn + 1;
                }

                if (inputVal[4] === "" || inputVal[5] === "") {
                    $('#password-error').html('<span class="error"> Please enter your ' + inputMessage[4] + '</span>');
                } else if (inputVal[4] !== inputVal[5]) {
                    $('#password-error').html('<span class="error">Passwords entered does not match</span>');
                } else {
                    retrn = retrn + 1;
                }

                if ($("#register_accept_checkbox").is(":checked")) {
                    $('#password-error').html('<span class="error">Please read and acknowledge terms and condition</span>');
                } else {
                    retrn = retrn + 1;
                }

                if (retrn === 6) {
                    return true;
                } else {
                    return false;
                }
            }
    </script>
{% endblock %}