{% extends 'JobBundle:MainAdmin:index.html.twig' %}
{% block mainadminstylesheets %}
    {{ parent() }}
    <style type="text/css">
        .fileinput-upload,.fileinput-upload-button{
            display: none !important;
        }
    </style>
{% endblock %}
{%block mainadminbody%}
    {{ form_start(form,{'attr':{'class':'post-form-wrapper'} }) }}
    <div class="row gap-20">
        <div class="col-sm-6 col-md-4">
            <div class="form-group bootstrap-fileinput-style-01">
                <label>Photo</label>
                <input type="file" name="form-register-photo" id="form-register-photo">
                <span class="font12 font-italic">** photo must not bigger than 250kb</span>
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label  class="required">First Name</label>
                {{ form_widget(form.firstName) }}
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label  class="required">Last Name</label>
                {{ form_widget(form.lastName) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">Date Of Birth</label>
                <div class="row gap-5">
                    {{ form_widget(form.dob) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">Email</label>
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="form-group">
            <div class="col-sm-12">
                <label class="required">Education</label>
            </div>
            <div class="col-sm-6 col-md-4">
                {{ form_widget(form.educationLevelId) }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{ form_widget(form.course) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">Majors</label>
                {{ form_widget(form.majors) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">Address</label>
                {{ form_widget(form.address) }}
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">City/town</label>
                {{ form_widget(form.cityTown) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">Province/State</label>
                {{ form_widget(form.state) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">Zip Code</label>
                {{ form_widget(form.zipCode) }}
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">Country</label>
                {{ form_widget(form.country) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="required">Phone Number</label>
                {{ form_widget(form.phoneNumber) }}
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-12 col-md-12">
            <div class="form-group bootstrap3-wysihtml5-wrapper">
                <label>About me</label>
                {{ form_widget(form.aboutMe) }}    
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-12 mt-10">
            {{ form_widget(form.save) }} 
            <a href="#" class="btn btn-primary btn-inverse">Cancel</a>
        </div>
    </div>
    {{ form_end(form) }} 
{%endblock%}

{% block mainadminjavascript %}
    {{ parent() }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        {% for key, flash in app.session.flashbag.all() %}
            {% for message in flash %}
                    var message = "{{message}}";
                    swal(message);
            {% endfor %}
        {% endfor %}
                $('.js-datepicker').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    format: 'yyyy-mm-dd',
                    yearRange: "-100:+0"
                });
            });
    </script>
{% endblock %}