{% extends '::base.html.twig' %}
{% block title %}
    Job portal
{% endblock %}
{% block mainStylesheets %}
    {{ parent() }}
    <style type="text/css">
        .pt-80 {
            padding-top: 92px !important;
        }
        .navbar-sticky-function navbar-default{
            background-color: #333333 !important;
        }
    {% block stylesheets %}{% endblock %}
</style>

{% endblock %}
{% block mainBody %}  

    <header id="header">
        <nav class="navbar navbar-fixed-top navbar-sticky" style="background-color: #333333 !important">
            <div class="container">
                <div class="logo-wrapper">
                    <div class="logo">
                        <a href="{{path('home_page_redirect')}}"><img alt="Logo" src="{{ asset('bundles/job/images/logo.png')}}"></a>
                    </div>
                </div>
                <div id="navbar" class="navbar-nav-wrapper navbar-arrow">
                    <ul class="nav navbar-nav" id="responsive-menu">
                        <li>
                            <a href="{{path('home_page_redirect')}}">Home</a>
                        </li>
                        <li>
                            <a href="{{path('menu_search_jobs')}}">Search Jobs</a>
                        </li>
                        <li>
                            <a href="{{path('menu_search_golden_resume')}}">Golden Resume</a>
                        </li>
                        {% if is_granted('ROLE_JOB_EMPLOYEER') %}
                            <li>
                                <a href="">Employee</a>
                            </li>
                            <li>
                                <a href="employer-login.html">Employer</a>
                                <ul>
                                    <li><a href="employer-register.html">Employer registration</a></li>
                                    <li><a href="employer-forget.html">Employer forget password</a></li>
                                    <li><a href="employer-login.html">Employer login</a></li>
                                    <li><a href="employer-detail.html">Employer Detail</a></li>
                                </ul>
                            </li>
                        {%endif%}
                        {% if is_granted('ROLE_MAIN_ADMIN') %}
                            <li>
                                <a href="{{path('job_bundle_home_page')}}">Admin Pannel</a>
                            </li>
                        {%endif%}
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact US</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
                <div class="nav-mini-wrapper">
                    {% if app.user %}
                        <ul class="nav-mini sign-in">
                            {%if app.user.name is null%}
                                <span style="float: right;text-align: right;width: 100%;color:#fff">Welcome: {{app.user.username}}</span>
                            {%else%}
                                <span style="float: right;text-align: right;width: 100%;color:#fff">Welcome: {{app.user.name}}</span>
                            {%endif%}
                            <li style="float: right;"><a href="{{path('_logout')}}">logout</a></li>
                        </ul>
                    {%else%}
                        <ul class="nav-mini sign-in">
                            <li><a href="{{path('redirect_login_page')}}">login</a></li>
                            <li><a href="javascript:void(0)" id="register-new-user">register</a></li>
                        </ul>
                    {%endif%}
                </div>
            </div>
            <div id="slicknav-mobile"></div>
        </nav>
        <!-- end Navbar (Header) -->


        <!-- start Register Modal -->
        <div id="registerModal" class="modal fade login-box-wrapper" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Create your account for free</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer text-center">
                <button type="submit" id="register-user-btn" class="btn btn-primary" value="Register" >Register</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-inverse">Close</button>
            </div>
        </div>
        <!-- end Register Modal -->

        <!-- start Forget Password Modal -->
        <!-- end Forget Password Modal -->
    </header>

    <div class="main-wrapper">
        <div class="pt-801 pb-80" style="padding-top: 57px">
            <div class="container-fluid body-content"  style="padding: 0px;">
                {%block body%}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block mainJavascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").on("click", "#register-new-user", function () {
                var $path = "{{path('new_user_creation') }}";
                $.ajax({
                    type: "POST",
                    url: $path,
                    context: this,
                    beforeSend: function () {
                        $(this).after();
                    },
                    success: function ($data) {
                        $("#modal-body").html($data);
                        $("#registerModal").modal("show");
                    },
                    complete: function () {
                        $(this).next(".loading-img").remove();
                    }
                });
            });

            $("body").on("click", "#register-user-btn", function () {
                var userExist = false;
                var username = $('#akjnbundle_user_username').val();
                var $verifyUserpath = "{{path('new_user_username_check',{'name':'__name__'}) }}";
                $verifyUserpath = $verifyUserpath.replace('__name__', username);
                $.ajax({
                    type: "POST",
                    url: $verifyUserpath,
                    context: this,
                    beforeSend: function () {
                        $(this).after();
                    },
                    success: function ($data) {
                        if ($data === "true") {
                            userExist = true;
                        } else {
                            userExist = false;
                        }
                    },
                    complete: function () {
                        $(this).next(".loading-img").remove();
                    }
                });
                if (validateForm(userExist)) {
                    $("#registration-form").submit();
                }
            });
        });

        function validateForm() {
            var retrn = 0;

            var nameReg = /^[A-Za-z]+$/;
            var numberReg = /^[0-9]+$/;
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

            var names = $('#akjnbundle_user_name').val();
            var username = $('#akjnbundle_user_username').val();
            var email = $('#akjnbundle_user_email').val();
            var mobile = $('#akjnbundle_user_mobile').val();
            var password1 = $('#akjnbundle_user_password_first').val();
            var password2 = $('#akjnbundle_user_password_second').val();

            var inputVal = new Array(names, username, email, mobile, password1, password2);
            var inputMessage = new Array("name", "username", "email address", "mobile number", "passwords", "passwords");
            $('.error').hide();
            if (inputVal[0] === "") {
                $('#name-error').html('<span class="error"> Please enter your ' + inputMessage[0] + '</span>');
            } else {
                retrn = retrn + 1;
            }

            if (inputVal[1] === "") {
                $('#username-error').html('<span class="error"> Please enter your ' + inputMessage[1] + '</span>');
            } else {
                retrn = retrn + 1;
            }

            if (inputVal[2] === "") {
                $('#email-error').html('<span class="error"> Please enter your ' + inputMessage[2] + '</span>');
            } else if (!emailReg.test(email)) {
                $('#email-error').html('<span class="error"> Please enter a valid email address</span>');
            } else {
                retrn = retrn + 1;
            }

            if (inputVal[3] === "") {
                $('#mobile-error').after('<span class="error"> Please enter your ' + inputMessage[3] + '</span>');
            } else if (!numberReg.test(mobile)) {
                $('#mobile-error').html('<span class="error"> Numbers only.. dont use +91</span>');
            } else if (inputVal[3].length !== 10) {
                $('#mobile-error').html('<span class="error">please enter 10 digit mobile number without +91</span>');
            } else {
                retrn = retrn + 1;
            }

            if (inputVal[4] === "" || inputVal[5] === "") {
                $('#password-error').html('<span class="error"> Please enter your ' + inputMessage[4] + '</span>');
            } else if (inputVal[4] !== inputVal[5]) {
                $('#password-error').html('<span class="error">Passwords entered does not match</span>');
            } else {
                retrn = retrn + 1;
            }

            if (!$("#register_accept_checkbox").is(":checked")) {
                $('#password-error').html('<span class="error">Please read and acknowledge terms and condition</span>');
            } else {
                retrn = retrn + 1;
            }

            if (retrn === 6) {
                return true;
            } else {
                return false;
            }
        }


    </script>
    {% block javascript %}
    {% endblock %}
{% endblock %}